@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
*, ::before, ::after, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #F6F8FD;
}

input[type="checkbox"]:checked {
  border: 1px solid #3f895b;
  background-color: #3f895b;
  -webkit-box-shadow: none;
          box-shadow: none;
}

input[type="radio"]:checked {
  border: 1px solid #3f895b;
  background-color: #3f895b;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.navbar {
  width: 100%;
  background-color: #fff !important;
  -webkit-box-shadow: 0px 52px 80px rgba(0, 0, 0, 0.0139364), 0px 15.6765px 24.1177px rgba(0, 0, 0, 0.02), 0px 6.51121px 10.0172px rgba(0, 0, 0, 0.0260636), 0px 2.35498px 3.62304px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 52px 80px rgba(0, 0, 0, 0.0139364), 0px 15.6765px 24.1177px rgba(0, 0, 0, 0.02), 0px 6.51121px 10.0172px rgba(0, 0, 0, 0.0260636), 0px 2.35498px 3.62304px rgba(0, 0, 0, 0.04);
  padding: 1rem 0;
}

.navbar .sidebar-button {
  cursor: pointer;
}

.navbar .sidebar-button ion-icon {
  font-size: 26px;
}

.navbar .navbar-brand {
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  color: #3f895b;
}

.navbar .navbar-brand:hover {
  color: #3f895b;
}

.navbar .navbar-brand img {
  width: 100%;
  max-width: 32px;
  max-height: 32px;
  margin-right: .7rem;
}

.sidebar-container {
  position: fixed;
  min-height: 100%;
  width: 350px;
  left: -350px;
  top: 0;
  z-index: 999;
  background-color: #fff;
  border-right: 1px solid #dddada;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.sidebar-container.sidebar-active {
  left: 0;
  -webkit-transition: .8s ease;
  transition: .8s ease;
}

.sidebar-container .sidebar-wrapper {
  padding: 2rem 1.5rem;
}

.sidebar-container .sidebar-wrapper .close-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 1.8rem;
  cursor: pointer;
}

.sidebar-container .sidebar-wrapper .close-button ion-icon {
  font-size: 28px;
}

.sidebar-container .sidebar-wrapper .brand-logo {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar-container .sidebar-wrapper .brand-logo img {
  width: 100%;
  max-width: 48px;
  margin-bottom: .7rem;
}

.sidebar-container .sidebar-wrapper .brand-logo h5 {
  color: #38694B;
  font-size: 18px;
  font-weight: 600;
}

.sidebar-container .sidebar-wrapper .sidebar-menu {
  padding: 2.4rem 0;
}

.sidebar-container .sidebar-wrapper .sidebar-menu .sidebar-link {
  text-decoration: none;
  color: #171515;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.sidebar-container .sidebar-wrapper .sidebar-menu .sidebar-link:not(:last-child) {
  margin-bottom: .7rem;
}

.sidebar-container .sidebar-wrapper .sidebar-menu .sidebar-link img {
  width: 100%;
  max-width: 28px;
  max-height: 28px;
  margin-right: .5rem;
}

.sidebar-container .sidebar-wrapper .sidebar-menu .sidebar-link:hover {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.sidebar-container .sidebar-wrapper .sidebar-menu .text-menu {
  color: #AAABB1;
  font-weight: 400;
  font-size: 12px;
  margin: 20px 0 8px 0;
}

.button {
  background: transparent;
  border: none;
  padding: .7rem 1rem;
  border-radius: 10px;
  font-weight: 600;
}

.button.button-primary {
  background-color: #2f466e;
  color: #fff;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.button.button-primary:hover {
  background-color: #293d5f;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.button.button-small {
  font-size: 12px;
}

.form-input {
  margin-bottom: 1rem;
}

.form-input .form-label {
  color: #AAABB1;
  font-weight: 400;
  font-size: 12px;
}

.form-input .form-control, .form-input .form-select {
  border: 2px solid #001845;
  color: #001845;
  border-radius: 6px;
  font-size: 14px;
  padding: .6rem 1rem;
}

.form-input .form-control:focus, .form-input .form-select:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.card {
  padding: 2.8rem 2.5rem;
  border-radius: 12px;
  border: none;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.card.item-card {
  border: 1px solid #d3cece;
}

.wrapper-table table {
  width: 100%;
}

.wrapper-table table tbody tr td {
  color: #001845;
  font-weight: 400;
}

.wrapper-table table tbody tr td .text-primary {
  color: #3f895b !important;
  font-weight: 600;
}

@media screen and (max-width: 567px) {
  .wrapper-table table tbody tr td {
    font-size: 12px;
  }
}

.status {
  border-radius: 6px;
  padding: 4px 8px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 14px;
  text-align: center;
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -moz-box-align: center;
  font-weight: 500;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.status.success-status {
  background-color: #1c8b16;
  color: #fff;
}

.alert {
  border-radius: 6px;
  padding: 4px 8px;
  margin: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 14px;
  text-align: center;
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -moz-box-align: center;
  font-weight: 500;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.alert.success-alert {
  background-color: #EBF9F4;
  color: #1a984a;
}

.alert.pending-alert {
  background-color: #FFF7E6;
  color: #FFB10A;
}

.alert.primary-alert {
  background-color: #F2F4F8;
  color: #001845;
}

.alert.danger-alert {
  background-color: #FDF4F6;
  color: #df4d70;
}
/*# sourceMappingURL=app.css.map */