@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
/*------------
Resset Css
------------*/
*, ::after, ::before, h1, h2, h3, h4, h5, h6, p {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  font-family: 'Poppins', sans-serif;
}

.contentMain .requestCode {
  font-weight: 400;
}
